:root {
    --link-color: #4d0d99;
    --border-color: #141a71;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    /* background: linear-gradient(45deg, #d48bff, rgb(150, 88, 201)); */
    background: linear-gradient(135deg, #d48bff, #00d4ff);
    background-attachment: fixed;
    margin: 24px;
    margin-top: 0;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.lead-header {
    text-align: center;
}

.sub-header {
    font-size: smaller;
}

.hero-text {
    font-size: larger;
    text-align: center;
    margin: 0;
    font-size: 140%;
}

.closet {
    margin: 24px auto;
}

.links-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

a {
    color: var(--link-color);
}

.nav a {
    text-decoration: none;
}

.home-link {
    font-weight: bold;
}

.social-link img {
    width: 24px;
    height: 24px;
}

.bottom-info {
    text-align: center;
    margin: 8px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-links {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.nav-button {
    display: none;
    border: none;
    background: none;
    width: 46px;
    height: 46px;
}

.nav-button img {
    width: 20px;
    height: 20px;
}

@media (max-width: 700px) {
    .nav-links {
        display: none;
        position: absolute;
        flex-direction: column;
        /* FIXME: do not hardcode the height */
        top: 46px;
        left: 0;
        right: 0;
        background: rgb(222, 178, 233);
        padding: 16px;
    }

    .nav-links[toggled] {
        display: flex;
    }

    .nav-button {
        display: initial;
    }
}

img {
    max-width: 100%;
}

p {
    font-size: larger;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor-logo {
    margin: 16px;
    width: 412px;
    aspect-ratio: 3.328638498;
}

hr {
    border: 1px solid var(--border-color);
    margin: 0 16px;
}
